option_settings:
  -
    namespace: aws:elasticbeanstalk:application:environment
    option_name: PYTHONPATH
    value: /var/app/venv/staging-LQM1lest/bin

container_commands:
  00_check_python_path:
    command: "ls $PYTHONPATH/activate"
    ignoreErrors: false
  01_download_google_drive_data:
    test: "source $PYTHONPATH/activate &&
           which gdown"
    command: "source $PYTHONPATH/activate && mkdir models && cd models &&
              gdown 1XMmCW8STeuXxNCCRA27gqAK0VCJKFgrT -O t5_gec_lec.zip &&
              unzip t5_gec_lec.zip"
    ignoreErrors: false
